<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
    <h3>Update this element in {{ table_name }}</h3>
    <form action="{% url 'submit_update' %}" method="post">
        {% csrf_token %}
        
        <input type="hidden" name="element_id" value="{{ element_id }}">
        <input type="hidden" name="table_id" value="{{ table_id }}">
        
        <label for="libelle">Libelle:</label>
        <input type="text" name="libelle" id="libelle" value="{{ data.libelle }}" placeholder="eg: Salary" required>
        
        <label for="date_operation">Operation date:</label>
        <input type="date" name="date_operation" id="date_operation" 
            value="{{ data.date_operation|date:'Y-m-d' }}" placeholder="eg: 2025-10-02" required>
        
        <label for="montant">Montant</label>
        <input type="number" name="montant" id="montant" step="any" value="{{ data.montant }}" placeholder="eg: 5000" required>
        
        {% if message %}
        	<p>{{ message }}</p>
        {% endif %} 
        
        <input type="submit" value="Valider">
        
    </form>
</body>
</html>